/*
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0.
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #777777;

}

.ng-scope{
    height: 100% !important;
}

.disable-btns{
  -webkit-filter: grayscale(100%);
  filter: grayscale(65%);
}

.spin-style {
  font-size: 30px;
  color: #000;
}

.error-pic{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfobgfq_Pxzy_sGShmPh2Dg7W0ioiOSX7HACB0-IJtB12wAd8x') no-repeat;
  width: 220px; /* Width of new image */
  height: 236px; /* Height of new image */
  padding-left: 180px; /* Equal to width of new image */
}
.container-helper{
  height: 100%;
  background-color: #000;
  background: #f0f5f6;
}

.google-btn{
  background-color:rgb(221, 75, 57);
}
