@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-users {
  text-align: center;
  padding: 70px 0 80px;

}

.home-users h2 {
  font-weight: normal;
}

.home-users .common-user {
  background-color: #fff;
}

.home-users .common-user figure {
  overflow: hidden;
  width: 100%;
}

.home-users img {
  width: 100%;
  height: auto;
}

.home-users .common-user h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}

.home-users .common-user .for-border {
  margin-bottom: 20px;
}

.home-users .common-user .text-content {
  padding: 19px 14px 13px;
}

.home-users.users-var-two {
  text-align: left;
  background-color: #fff;
}

.home-users.users-var-two .slogan-section {
  text-align: left;
}

.home-users.users-var-two .common-user {
  background-color: transparent;
}

.home-users.users-var-two .common-user .for-border {
  display: none;
}

.home-users.users-var-two .common-user .text-content {
  padding: 20px 0 20px;
}

.home-users.users-var-two .text-center {
  text-align: left;
}

.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}

.home-users .common-user .for-border {
  margin-bottom: 20px;
}

.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
  border: none;
}

.home-users .common-user h5 small {
  color: #008fd5;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
}

.home-users .common-user ul {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -28px;
  text-align: center;
  margin-top: 10em;
  opacity: 0;
  z-index: 1;
}

.home-users .common-user li a {
  background: #008fd5;
  color: white;
  padding: 0.75em;
  border: 5px solid rgba(255, 255, 255, 0.33);
}

.doc-img {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item {
  float: none;
  margin: 0 auto;
  width:200px
}

.doc-item:hover .doc-img {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
  opacity: 0.7;
}

.doc-item:hover .social-lists {
  margin-top: -2em;
  opacity: 1;
}

/*=============== //Home-team ===============*/
