<!-- The Team -->
<div class="home-users  clearfix">
<!--
  <div  ng-class="{'disable-app': true}">
  				<span class="fa fa-spin fa-circle-o-notch load-pos"></span>
  		</div>
-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp">
          <!-- title -->
          <h2>{{user ? user.msg:'Choose a social media site to login'}}</h2>

          <!-- buttons-->

          <div class="login-btns">
              <a ng-disabled="user.social== 'google'"  ng-click="login('google')" class="btn btn-danger btn-sm"> <i class="fa fa-google"></i> Google</a>
              <a ng-disabled="user.social== 'instagram'" ng-click="login('instagram')" class="btn btn-primary btn-sm"> <i class="fa fa-instagram"></i> Instagram</a>
              <a ng-disabled="user.social== 'twitter'" ng-click="login('twitter')" class="btn btn-info btn-sm"> <i class="fa fa-twitter"></i> Twitter</a>

              <a ng-disabled="user.social== 'amazon'" ng-click="login('amazon')" class="btn btn-warning btn-sm"> <i class="fa fa-amazon" aria-hidden="true"></i> Amazon</a>
              <a ng-disabled="user.social== 'fitbit'" ng-click="login('fitbit')" class="btn btn-info btn-sm"> <i class="fa fa-clock-o"></i> Fitbit</a>
          </div>
        </div>
      </div>
    </div>



    <!-- picture and name -->
    <div class="row">

      <!-- entry1 -->

      <div  class="text-center doc-item">
        <span ng-show="loading" class="fa fa-spin fa-circle-o-notch spin-style"></span>
        <div ng-show="user && !success && !loading" >
          <span class="error-pic"> </span>
          <span class="text-danger"> An error accrued try again</span>
        </div>

        <div  ng-show="!loading && success" class="common-user animated fadeInUp clearfix ae-animation-fadeInUp">

          <ul class="list-inline social-lists animate">
            <li><a ng-class="{'disable-btns': user.social== 'google'}" ng-click="user.social== 'google'? 0:login('google')" href><i class="fa fa-google"></i></a></li>
            <li><a ng-class="{'disable-btns': user.social== 'instagram'}" ng-click="user.social== 'instagram'? 0:login('instagram')" href><i class="fa fa-instagram"></i></a></li>
            <li><a ng-class="{'disable-btns': user.social== 'twitter'}" ng-click="user.social== 'twitter'? 0:login('twitter')" href><i class="fa fa-twitter"></i></a></li>
            <li><a ng-class="{'disable-btns': user.social== 'amazon'}" ng-click="user.social== 'amazon'? 0:login('amazon')" href><i class="fa fa-amazon" ng-click="login('amazon')" ></i></a></li>
            <li><a ng-class="{'disable-btns': user.social== 'fitbit'}" ng-click="user.social== 'fitbit'? 0:login('fitbit')" href><i class="fa fa-clock-o" ng-click="login('fitbit')"></i></a></li>
          </ul>

          <figure>
            <img width="200" height="500" src="{{user.pic}}" class="doc-img animate" alt="user-2">
          </figure>

          <div class="text-content">
            <h5>{{user.fName}}  {{user.lName}}</h5>
          </div>
        </div>
      </div>

      <div class="visible-sm clearfix margin-gap"></div>
    </div>



  </div>

</div>
